torch
torchvision
numpy==1.26.1
Pillow
huggingface_hub
einops
safetensors
cyclonedds
scipy
tifffile
timm
webdataset==0.2.86
Pillow
hydra-core
tensorboard
iopath
wcmatch
matplotlib
open3d
fvcore
trimesh